.DS_Store
.cache/
.lsp-session-*
*.elc
lisp/private.el
test
eproject.cfg
GEMINI.md
.aider*

# .emacs.d 
el-get/
elpa/
recentf
tramp
transient/
network-security.data
projectile-bookmarks.eld
quelpa/
auto-save-list/
*.~undo-tree~
